vt-timeline {
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  border-radius: 6px;
}

vt-timeline > .selection {
  background-color: color-mix(in srgb, var(--accent-bg-color) 40%, transparent);
  border-radius: 6px;
}

vt-timeline > .position {
  background-color: var(--accent-color);
  min-width: 2px;
}

picture {
  background-color: black;
}
